/* =========================

/* =========================
   HERO
========================= */

.hero {
  min-height: 90vh;

  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('../images/hero.jpg');

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;
}

.hero-content {
  max-width: 800px;
  color: white;
}

.hero h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* =========================
   BUTTONS
========================= */

.btn-primary,
.btn-secondary {
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary {
  background: var(--accent);
  color: var(--primary);
}

.btn-primary:hover {
  transform: translateY(-3px);
}

.btn-secondary {
  border: 2px solid white;
  color: white;
}

.btn-secondary:hover {
  background: white;
  color: var(--primary);
}

/* =========================
   SECTION
========================= */

.section {
  max-width: 1200px;
  margin: auto;
  padding: 100px 30px;
}

}
