
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #003366;
  --secondary: #00509d;
  --accent: #ffd60a;
  --light: #f5f7fb;
  --dark: #1d1d1d;
  --white: #ffffff;
  --shadow: 0 8px 20px rgba(0,0,0,0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--light);
  color: var(--dark);
  line-height: 1.7;
}

img {
  width: 100%;
  display: block;
}

/* =========================
   NAVBAR
========================= */

header {
  background: var(--primary);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 700;
  transition: 0.5s;
  text-decoration: none;
}

.logo:hover {
   transform: scale(1.1);
   color: var(--accent);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--accent);
}

.nav-btn {
  background: var(--accent);
}


/* rest of the styling code */

.hero {
  display: flex;
  flex-direction: column;
  background-image: url('../rexburg.png');
  background-size: cover;
  background-position: center;
  height: 87vh;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 4.5em;
  font-family: 'Carter One';
}

.section-title p {
  text-align: center;
  font-size: 1.25em;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 2.5%;
  margin: 10%;
}

.activity-card {
  text-align: center;
  
}

.card-info h3, .card-info p, .card-info div {
  text-align: center;
}


/* footer CSS */

.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-logo {
  color: var(--white);
  font-size: 1.8rem;
  transition: 0.5s;
  text-align: center;
  grid-column: 3/4;
  grid-row: 1/2;
}

.footer-logo:hover {
   color: var(--accent);
}

footer {
  background: var(--primary);
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

footer p {
  color: var(--light);
  grid-column: 2/5;
  grid-row: 2/3;
  text-align: center;
}

.footer-links {
  grid-column: 2/5;
  grid-row: 4/5;
  text-align: center;
  margin: 7.5% 0 3% 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 10%;
}

.footer-links a:hover {
  color: var(--accent);
}


/* submit form */
#activity-form {
  margin: 0 10% 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1% 20%;
}

#activity-form label {
  padding-top: 20px;
}

#activity-form button {
  margin: 20px 0;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 5px;
  transition: 0.5s;
  padding: 10px 0;
}

#activity-form button:hover {
  background-color: var(--accent);
  color: var(--dark)
}
